
@font-face {
    font-family: jetbrains-mono;
    src: url("https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKxTN1OVgaY.woff2");
}

/* style definitons */
body
{
    font-weight: bolder;
    color: #E0DEF4;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-top: 1%;
    font-size: 1rem;
    width: 95vh;
    min-height: 95vh;
    font-family: jetbrains-mono;
    background-color: #393552;
}

p, ul, .command, .cursor
{
color: #E0DEF4;
}

.user
{
    color:#3E8FB0;
}

h3
{
    color: #EB6F92;
}

.directory
{
    color: #F6C177;
}

a 
{
    color: #C4A7E7;
    text-decoration: none;
}

footer
{
    margin-top: auto;
}
.back{
    color: #E0DEF4;
}
@media (min-width:600px) {
  body {
    font-size: 1.25rem;
  }
}
